.banner-card-container{
	@extend %right;
	@extend %pos-absolute;
	right: 0px;
	bottom: 0px;
	width: 294px;
	height: 274px;
	background-color: #fff;
	text-align: left;
	-webkit-box-shadow: 0px 0px 18px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 18px -5px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 18px -5px rgba(0,0,0,0.75);
	padding: 22px 22px 0px 22px;
}

.banner-card{
	@extend %leftfull;
}