.incrementer{
    @extend %right;
}
.qty{
	@extend %left;
    width: 52px;
    height: 44px;
    text-align: center;
    outline: none;
 	border: none;
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.4);
}

input.qtyplus{
	@extend %left;
 	width:48px; 
 	height:44px;
 	outline: none;
 	background-color: #fff;
    border: 1px solid #d0d0d0;
    font-size: 1.75rem;
    color: rgba(0, 0, 0, 0.4);
}

input.qtyminus{
	@extend %left;
 	width:48px; 
 	height:44px;
 	outline: none;
 	background-color: #fff;
    border: 1px solid #d0d0d0;
    font-size: 1.75rem;
    color: rgba(0, 0, 0, 0.4);
}