/* <fieldset>
  <span class="star-cb-group">

    <input type="radio" id="rating-5" name="rating" value="5" />
    <label for="rating-5">5</label>

    <input type="radio" id="rating-4" name="rating" value="4" checked="checked" />
    <label for="rating-4">4</label>

    <input type="radio" id="rating-3" name="rating" value="3" />
    <label for="rating-3">3</label>

    <input type="radio" id="rating-2" name="rating" value="2" />
    <label for="rating-2">2</label>

    <input type="radio" id="rating-1" name="rating" value="1" />
    <label for="rating-1">1</label>

    <input type="radio" id="rating-0" name="rating" value="0" class="star-cb-clear" />
    <label for="rating-0">0</label>

  </span>
</fieldset> */

.fieldset{
  @extend %left;
}

.star-cb-group {
  /* remove inline-block whitespace */
  font-size: 0;
  /* flip the order so we can use the + and ~ combinators */
  unicode-bidi: bidi-override;
  direction: rtl;
  /* the hidden clearer */
}
.star-cb-group * {
  font-size: 1rem;
}
.star-cb-group > input {
  display: none;
}
.star-cb-group > input + label {
  /* only enough room for the star */
  display: inline-block;
  overflow: hidden;
  text-indent: 9999px;
  width: 1em;
  white-space: nowrap;
  cursor: pointer;
  font-size:22px;
}
.star-cb-group > input + label:before {
  display: inline-block;
  text-indent: -9999px;
  content: "\2605";
  color: #d0d0d0;
}
.star-cb-group > input:checked ~ label:before, .star-cb-group > input + label:hover ~ label:before, .star-cb-group > input + label:hover:before {
  content: "\2605";
  color: #ffc600;
  text-shadow: 0 0 1px #ffc600;
}
.star-cb-group > .star-cb-clear + label {
  text-indent: -9999px;
  width: .5em;
  margin-left: -.5em;
}
.star-cb-group > .star-cb-clear + label:before {
  width: .5em;
}
.star-cb-group:hover > input + label:before {
  content: "\2605";
  color: #d0d0d0;
  text-shadow: none;
}
.star-cb-group:hover > input + label:hover ~ label:before, .star-cb-group:hover > input + label:hover:before {
  content: "\2605";
  color: #ffc600;
  text-shadow: 0 0 1px #d0d0d0;
}

