@font-face {
    font-family: 'milano_typefaceitalic';
    src: url('../../../fonts/milano/milano_italic-webfont.woff2') format('woff2'),
         url('../../../fonts/milano/milano_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'milano_typefaceregular';
    src: url('../../../fonts/milano/milano_regular-webfont.woff2') format('woff2'),
         url('../../../fonts/milano/milano_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/* cutie font */

@font-face {
    font-family: 'cutie_patootie_hollowhollow';
    src: url('../../../fonts/cutie/cutie_patootie_hollow-webfont.woff2') format('woff2'),
         url('../../../fonts/cutie/cutie_patootie_hollow-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cutie_patootie_skinnyskinny';
    src: url('../../../fonts/cutie/cutie_patootie_skinny-webfont.woff2') format('woff2'),
         url('../../../fonts/cutie/cutie_patootie_skinny-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cutie_patootiemedium';
    src: url('../../../fonts/cutie/cutie_patootie-webfont.woff2') format('woff2'),
         url('../../../fonts/cutie/cutie_patootie-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




/* catamaran font */


@font-face {
    font-family: 'catamaranblack';
    src: url('../../../fonts/catamaran/catamaran-black-webfont.woff2') format('woff2'),
         url('../../../fonts/catamaran/catamaran-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'catamaranbold';
    src: url('../../../fonts/catamaran/catamaran-bold-webfont.woff2') format('woff2'),
         url('../../../fonts/catamaran/catamaran-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'catamaranextrabold';
    src: url('../../../fonts/catamaran/catamaran-extrabold-webfont.woff2') format('woff2'),
         url('../../../fonts/catamaran/catamaran-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'catamaranextralight';
    src: url('../../../fonts/catamaran/catamaran-extralight-webfont.woff2') format('woff2'),
         url('../../../fonts/catamaran/catamaran-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'catamaranlight';
    src: url('../../../fonts/catamaran/catamaran-light-webfont.woff2') format('woff2'),
         url('../../../fonts/catamaran/catamaran-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'catamaranmedium';
    src: url('../../../fonts/catamaran/catamaran-medium-webfont.woff2') format('woff2'),
         url('../../../fonts/catamaran/catamaran-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'catamaranregular';
    src: url('../../../fonts/catamaran/catamaran-regular-webfont.woff2') format('woff2'),
         url('../../../fonts/catamaran/catamaran-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'catamaransemibold';
    src: url('../../../fonts/catamaran/catamaran-semibold-webfont.woff2') format('woff2'),
         url('../../../fonts/catamaran/catamaran-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'catamaranthin';
    src: url('../../../fonts/catamaran/catamaran-thin-webfont.woff2') format('woff2'),
         url('../../../fonts/catamaran/catamaran-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}